fastapi~=0.88.0
python-multipart
python-ldap
motor~=3.1.1
uvicorn[standard]~=0.20.0
python-jose[cryptography]
pymongo~=4.3.3
starlette~=0.22.0
pydantic~=1.10.2
pytz~=2022.6
schedule~=1.1.0
exchangelib~=4.7.3
pandas~=1.4.2
gunicorn
casbin~=1.17.5
rtoml~=0.9.0